body {
  margin: 0;
}

section {
  width: 100vw;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 60vh; 
  width: 100vw;
  padding-bottom: 5vh;
}

#content {
  background-color: rgba(8, 80, 3, 0.867);
  height: 40vh;
}

.greenlaw {
  font-family: 'Heebo', sans-serif; 
  color: rgba(8, 80, 3, 0.867);
  font-size: 12vw;
  line-height: 12vw;
  padding: 0px;

}

i {
  font-size: 1.5rem; 
  color: white;
  margin: 2px;  
}

a:link {
  color: rgba(249, 130, 83, 0.945);
}

#socials {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

#subheading {
  font-family: 'Poppins', sans-serif;
  color: rgba(249, 130, 83, 0.945);
  font-size: 5vh;
}