body {
  margin: 0;
}

/* 
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 60vh; 
  width: 100vw;
  padding-bottom: 5vh;
} */

.header {
  height: 50vh;
}

.green {
  background-color: rgba(8, 80, 3, 0.867);
  height: 50vh;

}

.heading {
  font-family: 'Heebo', sans-serif; 
  color: rgba(8, 80, 3, 0.867);
  /* font-size: 15vw; */
  /* line-height: 15vw; */
  /* padding: 0px; */
}

.subheading {
  font-family: 'Poppins', sans-serif;
  color: rgba(249, 130, 83, 0.945);
  /* font-size: 5vh;
  line-height: 5; */
  padding: 0px;
}

i {
  font-size: 1.5rem; 
  color: white;
  margin: 2px;  
}

a:link {
  color: rgba(249, 130, 83, 0.945);
}



